### **Installing required Libraries/Packages**
야후 파이낸스 사용하기
use anaconda prompt
###### install yfinance with :
- pip install yfinance

(first : conda update anaconda)

### Loading Financial Data from the Web

In [1]:
import pandas as pd 
import yfinance as yf

In [2]:
start = "2014-10-01"
end = "2024-02-20"

In [3]:
symbol = "AMC"

In [4]:
yf.download(symbol, start, end)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-10-01,230.000000,230.699997,227.600006,229.100006,167.649582,27330
2014-10-02,228.600006,232.600006,224.500000,232.000000,169.771744,24310
2014-10-03,233.600006,235.600006,231.000000,234.100006,171.308441,5770
2014-10-06,234.199997,236.000000,232.100006,232.199997,169.918106,5770
2014-10-07,231.800003,233.100006,224.500000,224.699997,164.429749,11330
...,...,...,...,...,...,...
2024-02-12,4.380000,4.720000,4.310000,4.560000,4.560000,15646900
2024-02-13,4.370000,4.680000,4.260000,4.490000,4.490000,12040700
2024-02-14,4.620000,4.870000,4.470000,4.800000,4.800000,13270800
2024-02-15,4.800000,5.050000,4.760000,4.890000,4.890000,12504600
2024-02-16,4.770000,4.950000,4.620000,4.830000,4.830000,10204400

In [5]:
df = yf.download(symbol, start, end)
df
#Adj Close => 배당금을 고려한 종가이다.

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-10-01,230.000000,230.699997,227.600006,229.100006,167.649582,27330
2014-10-02,228.600006,232.600006,224.500000,232.000000,169.771744,24310
2014-10-03,233.600006,235.600006,231.000000,234.100006,171.308441,5770
2014-10-06,234.199997,236.000000,232.100006,232.199997,169.918106,5770
2014-10-07,231.800003,233.100006,224.500000,224.699997,164.429749,11330
...,...,...,...,...,...,...
2024-02-12,4.380000,4.720000,4.310000,4.560000,4.560000,15646900
2024-02-13,4.370000,4.680000,4.260000,4.490000,4.490000,12040700
2024-02-14,4.620000,4.870000,4.470000,4.800000,4.800000,13270800
2024-02-15,4.800000,5.050000,4.760000,4.890000,4.890000,12504600
2024-02-16,4.770000,4.950000,4.620000,4.830000,4.830000,10204400

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2361 entries, 2014-10-01 to 2024-02-16
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2361 non-null   float64
 1   High       2361 non-null   float64
 2   Low        2361 non-null   float64
 3   Close      2361 non-null   float64
 4   Adj Close  2361 non-null   float64
 5   Volume     2361 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 129.1 KB

In [7]:
symbol = ["AMC","BA","MSFT","BTC-USD","GC=F"]

In [8]:
df = yf.download(symbol, start, end)
df

[*********************100%%**********************]  5 of 5 completed

Price        Adj Close                                                     \
Ticker             AMC          BA       BTC-USD         GC=F        MSFT
Date
2014-10-01  167.649582  108.406670    383.614990  1214.599976   39.387028
2014-10-02  169.771744  107.971886    375.071991  1214.199951   39.266884
2014-10-03  171.308441  109.876198    359.511993  1192.199951   39.550064
2014-10-04         NaN         NaN    328.865997          NaN         NaN
2014-10-05         NaN         NaN    320.510010          NaN         NaN
...                ...         ...           ...          ...         ...
2024-02-15    4.890000  205.330002  51938.554688  2002.099976  406.559998
2024-02-16    4.830000  203.889999  52160.203125  2011.500000  404.059998
2024-02-17         NaN         NaN  51662.996094          NaN         NaN
2024-02-18         NaN         NaN  52122.546875          NaN         NaN
2024-02-19         NaN         NaN  51779.144531  2015.599976         NaN

Price            Close                                                     \
Ticker             AMC          BA       BTC-USD         GC=F        MSFT
Date
2014-10-01  229.100006  124.669998    383.614990  1214.599976   45.900002
2014-10-02  232.000000  124.169998    375.071991  1214.199951   45.759998
2014-10-03  234.100006  126.360001    359.511993  1192.199951   46.090000
2014-10-04         NaN         NaN    328.865997          NaN         NaN
2014-10-05         NaN         NaN    320.510010          NaN         NaN
...                ...         ...           ...          ...         ...
2024-02-15    4.890000  205.330002  51938.554688  2002.099976  406.559998
2024-02-16    4.830000  203.889999  52160.203125  2011.500000  404.059998
2024-02-17         NaN         NaN  51662.996094          NaN         NaN
2024-02-18         NaN         NaN  52122.546875          NaN         NaN
2024-02-19         NaN         NaN  51779.144531  2015.599976         NaN

Price       ...        Open                                         \
Ticker      ...         AMC          BA       BTC-USD         GC=F
Date        ...
2014-10-01  ...  230.000000  127.370003    387.427002  1207.699951
2014-10-02  ...  228.600006  124.400002    383.988007  1215.300049
2014-10-03  ...  233.600006  124.660004    375.181000  1212.400024
2014-10-04  ...         NaN         NaN    359.891998          NaN
2014-10-05  ...         NaN         NaN    328.915985          NaN
...         ...         ...         ...           ...          ...
2024-02-15  ...    4.800000  204.119995  51836.785156  1993.599976
2024-02-16  ...    4.770000  204.880005  51937.726562  2005.000000
2024-02-17  ...         NaN         NaN  52161.675781          NaN
2024-02-18  ...         NaN         NaN  51661.968750          NaN
2024-02-19  ...         NaN         NaN  52134.812500  2015.599976

Price                       Volume
Ticker            MSFT         AMC         BA      BTC-USD   GC=F        MSFT
Date
2014-10-01   46.270000     27330.0  5265200.0     26229400  178.0  38088400.0
2014-10-02   45.830002     24310.0  3204500.0     21777700  176.0  25119400.0
2014-10-03   45.980000      5770.0  3075900.0     30901200  499.0  32453200.0
2014-10-04         NaN         NaN        NaN     47236500    NaN         NaN
2014-10-05         NaN         NaN        NaN     83308096    NaN         NaN
...                ...         ...        ...          ...    ...         ...
2024-02-15  408.140015  12504600.0  5309100.0  38564360533  286.0  21825500.0
2024-02-16  407.959991  10204400.0  5975900.0  28180567298   32.0  22281100.0
2024-02-17         NaN         NaN        NaN  20009091006    NaN         NaN
2024-02-18         NaN         NaN        NaN  17595377311    NaN         NaN
2024-02-19         NaN         NaN        NaN  21362184346   32.0         NaN

[3429 rows x 30 columns]